<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      width: 100vw;
      height: 100vh;
      display: flex;
      -ms-align-items: center;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      background-color: black;
    }
    p {
      color: white;
      font-size: 48px;
      font-weight: 300;
      text-align: center;
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <p>Let's Chat (from templates)</p>
</body>
</html>